body {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5FD361;
    background-color: #1E1818;
}

html,
body {
    height: 100%;
    outline:none;
}

.main-content, .main-content:focus {
    display: flex;
    word-wrap: break-word;
    width: 100%;
    height: auto;
    min-height: 100%;
    box-shadow: none;
    border: none;
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}

.editor {
    flex: 1;
    word-break: break-all;
    padding: 50px;
    border: none;
    resize: none;
    background-color: #352A2A;
    color: #5FD361;
    box-shadow: none;
    border: none;
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}

.preview {
    flex: 1;
    word-break: break-all;
    padding: 50px;
    border: 0;
    resize: none;
    background-color: #2B2222;
}

.tdisplay {
    font-size: 90px;
    overflow: auto;
}

.progress-bar {
    width: 1%;
    height: 30px;
    background-color: #5FD361;
}

.pbardisplay {
    font-size: 16px;
}

.foreground {
    display: flex;
}

.form {
    padding: 50px;
    width: 100%;
    height: auto;
    background-color: #352A2A;
    color: #5FD361;
}

.event-bar {
    padding: 50px;
    width: 100%;
    height: auto;
    background-color: #2B2222;
    color: #5FD361;
}


.event-button {
  background-color: #352A2A;
  border: none;
  width: 100%;
  height: auto;
  color: #5FD361;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.event-name {
    flex: 1;
    word-break: break-all;
    padding: 50px;
    border: none;
    resize: none;
    background-color: #2B2222;
    color: #5FD361;
    box-shadow: none;
    border: none;
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}

.event-time {
    flex: 1;
    word-break: break-all;
    padding: 50px;
    border: none;
    resize: none;
    background-color: #2B2222;
    color: #5FD361;
    box-shadow: none;
    border: none;
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}