body {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5FD361;
    background-color: #1E1818;
}

html,
body {
    height: 100%;
    outline:none;
}

.main-content, .main-content:focus {
    display: flex;
    word-wrap: break-word;
    width: 100%;
    height: auto;
    min-height: 100%;
    box-shadow: none;
    border: none;
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}

.editor {
    flex: 1;
    word-break: break-all;
    padding: 50px;
    border: none;
    resize: none;
    background-color: #352A2A;
    color: #5FD361;
    box-shadow: none;
    border: none;
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}

.preview {
    flex: 1;
    word-break: break-all;
    padding: 50px;
    border: 0;
    resize: none;
    background-color: #2B2222;
}

.tdisplay {
    font-size: 90px;
    overflow: auto;
}

.progress-bar {
    width: 1%;
    height: 30px;
    background-color: #5FD361;
}

.pbardisplay {
    font-size: 16px;
}

.foreground {
    display: flex;
}

.form {
    padding: 50px;
    width: 100%;
    height: auto;
    background-color: #352A2A;
    color: #5FD361;
}

.event-bar {
    padding: 50px;
    width: 100%;
    height: auto;
    background-color: #2B2222;
    color: #5FD361;
}


.event-button {
  background-color: #352A2A;
  border: none;
  width: 100%;
  height: auto;
  color: #5FD361;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.event-name {
    flex: 1;
    word-break: break-all;
    padding: 50px;
    border: none;
    resize: none;
    background-color: #2B2222;
    color: #5FD361;
    box-shadow: none;
    border: none;
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}

.event-time {
    flex: 1;
    word-break: break-all;
    padding: 50px;
    border: none;
    resize: none;
    background-color: #2B2222;
    color: #5FD361;
    box-shadow: none;
    border: none;
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    outline: none;
}
h1   {color: white;
	font-family: verdana;
  	font-size: 300%;
	text-align: center;
}
p    {color: white;
	font-family: 'Times New Roman';
  	font-size: 160%;
	margin: 25px;
	text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
h2{color: white;
	font-family: verdana;
  	font-size: 75%;
	text-align: center;
}
h3{color: white;
  font-family:Verdana;
    font-size: 200%;
  text-align: center;
}
h4{color: white;
  font-family:Verdana;
    font-size: 200%;
  text-align: center;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold 
}

.close:hover
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
